<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.ContactsMapper">
  <resultMap id="BaseResultMap" type="com.zjtc.model.Contacts">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
    <result column="mobile_number" property="mobileNumber" jdbcType="VARCHAR"/>
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
    <result column="main" property="main" jdbcType="VARCHAR"/>
    <result column="open_id" property="openId" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
    <result column="locked" property="locked" jdbcType="VARCHAR"/>
    <result column="wrong_times" property="wrongTimes" jdbcType="INTEGER"/>
  </resultMap>
  <select id="queryByUnitId" resultMap="BaseResultMap">
    SELECT id,node_code,use_water_unit_id,unit_code,contacts,mobile_number,phone_number,
    CASE main WHEN '1' THEN '主联系人' WHEN '0' THEN '备用联系人' END AS main,
    open_id,deleted,locked,wrong_times
    FROM t_w_use_water_unit_contacts
    WHERE deleted = '0'
    AND use_water_unit_id = #{useWaterUnitId}
    ORDER BY main DESC
  </select>
  <update id="delete">
    UPDATE t_w_use_water_unit_contacts SET deleted ='1',open_id= ''
    WHERE id IN
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>
  <select id="selectByUnitCode" resultMap="BaseResultMap">
    SELECT mobile_number,contacts
    FROM t_w_use_water_unit_contacts
    WHERE unit_code = #{unitCode}
    AND main ='1'
    AND deleted = '0'
  </select>
  <select id="selectMaxCount" resultType="java.lang.Integer">
    SELECT
    max( t.num ) AS num
    FROM
    ( SELECT count( 0 ) AS num FROM t_w_use_water_unit_contacts WHERE
    use_water_unit_id IN
    <foreach collection="useWaterUnitIds" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
    GROUP BY use_water_unit_id
    ) t
  </select>


<!--  <select id="selectContacts" resultType="com.zjtc.model.vo.OrgTreeVO">-->
<!--    SELECT-->
<!--    t1.id,-->
<!--    t1.use_water_unit_id AS parentId,-->
<!--    t1.node_code AS nodeCode,-->
<!--    null AS orgRank,-->
<!--    contacts AS orgName,-->
<!--    t1.phone_number AS dutyTel,-->
<!--    'person' AS tag,-->
<!--    (SELECT unit_name from t_w_use_water_unit t2 WHERE t2.id = t1.use_water_unit_id) AS personOrg,-->
<!--    contacts AS userName,-->
<!--    t1.mobile_number AS mobilePhone,-->
<!--    t1.id AS drawerId,-->
<!--    t1.contacts AS drawer,-->
<!--    t1.unit_code as unitCode,-->
<!--    '1' as son-->
<!--    FROM-->
<!--    t_w_use_water_unit_contacts t1 WHERE deleted = '0'-->
<!--    <if test="nodeCodes != null and nodeCodes.size > 0">-->
<!--      AND node_code in-->
<!--      <foreach collection="nodeCodes"  item="nodeCode" open="(" close=")" separator=",">-->
<!--        #{nodeCode}-->
<!--      </foreach>-->
<!--    </if>-->
<!--    <if test="condition != null and condition != ''">-->
<!--      and contacts LIKE '%${condition}%'-->
<!--    </if>-->
<!--  </select>-->

  <select id="selectContacts" resultType="com.zjtc.model.vo.OrgTreeVO">
    SELECT DISTINCT
      t1.id,
      t1.use_water_unit_id AS parentId,
      t1.node_code AS nodeCode,
      contacts AS orgName,
      'person' AS tag,
      contacts AS userName,
      t1.mobile_number AS mobilePhone,
      t1.unit_code AS unitCode,
      '1' AS son
    FROM
    t_w_use_water_unit_contacts t1 INNER JOIN
    ( SELECT
      id
      FROM t_w_use_water_unit
      WHERE
      deleted = '0'
    <if test="nodeCode != null ">
      and node_code = #{nodeCode}
    </if>
    <if test="fathers != null">
      AND SUBSTRING ( unit_code, 5, 2 ) in
      <foreach collection="fathers"  item="father" index="index" open="(" close=")" separator=",">
          #{father.id}
      </foreach>
    </if>
    ) t2 ON t1.use_water_unit_Id = t2.id
    order by parentId
  </select>

  <select id="selectOrgIsHavePerson" resultType="int">
    SELECT COUNT(1) FROM t_w_use_water_unit_contacts WHERE deleted = '0' AND main = '1' AND
    use_water_unit_id = #{orgId}
  </select>

  <select id="selectByMobileNumberAll" resultType="com.zjtc.model.UseWaterUnit">
    SELECT top 1
    id,
    node_code,
    unit_code,
    unit_name,
    unit_address,
    department
    FROM
    t_w_use_water_unit t1
    inner JOIN ( SELECT use_water_unit_id FROM t_w_use_water_unit_contacts t2 WHERE mobile_number = #{mobileNumber} AND deleted = '0' ) t2 ON t1.id = t2.use_water_unit_id
  </select>


  <select id="selectByUnitIdInquirePerson" resultType="String">
    SELECT contacts FROM t_w_use_water_unit_contacts WHERE deleted = '0' AND use_water_unit_id = #{id}  AND mobile_number != #{mobileNumber}
  </select>
</mapper>