<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.EndPaperMapper">
	<!-- EndPaper的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="BaseResultMap" type="com.zjtc.model.EndPaper">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
		<result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
		<result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
		<result column="paper_type" property="paperType" jdbcType="VARCHAR"/>
		<result column="data_sources" property="dataSources" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="creater_id" property="createrId" jdbcType="VARCHAR"/>
		<result column="plan_year" property="planYear" jdbcType="INTEGER"/>
		<result column="change_quarter" property="changeQuarter" jdbcType="VARCHAR"/>
		<result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
		<result column="first_water" property="firstWater" jdbcType="DOUBLE"/>
		<result column="second_water" property="secondWater" jdbcType="DOUBLE"/>
		<result column="add_number" property="addNumber" jdbcType="DOUBLE"/>
		<result column="add_way" property="addWay" jdbcType="VARCHAR"/>
		<result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
		<result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
		<result column="create_type" property="createType" jdbcType="VARCHAR"/>
		<result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
		<result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
		<result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
		<result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
		<result column="confirmed" property="confirmed" jdbcType="VARCHAR"/>
		<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP"/>
		<result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
		<result column="executed" property="executed" jdbcType="VARCHAR"/>
		<result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
		<result column="executor" property="executor" jdbcType="VARCHAR"/>
		<result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
		<result column="audit_file_id" property="auditFileId" jdbcType="VARCHAR"/>
		<result column="water_proof_file_id" property="waterProofFileId" jdbcType="VARCHAR"/>
		<result column="other_file_id" property="otherFileId" jdbcType="VARCHAR"/>
		<result column="algorithm_rules" property="algorithmRules" jdbcType="VARCHAR"/>
		<result column="creater_name" property="createrName" jdbcType="VARCHAR"/>
		<result column="result" property="result" jdbcType="VARCHAR"/>
		<result column="preViewRealPath" property="preViewRealPath" jdbcType="VARCHAR"/>
		<!--<collection property="auditFiles" ofType="com.zjtc.model.vo.FileVO" column="{id=id,preViewRealPath=preViewRealPath}"-->
			<!--select="queryAuditFiles">-->
		<!--</collection>-->
		<!--<collection property="waterProofFiles" ofType="com.zjtc.model.vo.FileVO" column="{id=id,preViewRealPath=preViewRealPath}"-->
			<!--select="queryWaterProofFiles">-->
		<!--</collection>-->
		<!--<collection property="otherFiles" ofType="com.zjtc.model.vo.FileVO" column="{id=id,preViewRealPath=preViewRealPath}"-->
			<!--select="queryOtherFiles">-->
		<!--</collection>-->
	</resultMap>

	<resultMap id="PageResultMap" type="com.zjtc.model.vo.EndPaperVO">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
		<result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
		<result column="paper_type" property="paperType" jdbcType="VARCHAR"/>
		<result column="paper_type_name" property="paperTypeName" jdbcType="VARCHAR"/>
		<result column="data_sources" property="dataSources" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="creater_id" property="createrId" jdbcType="VARCHAR"/>
		<result column="creater_name" property="createrName" jdbcType="VARCHAR"/>
		<result column="plan_year" property="planYear" jdbcType="INTEGER"/>
		<result column="change_quarter" property="changeQuarter" jdbcType="VARCHAR"/>
		<result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
		<result column="first_water" property="firstWater" jdbcType="DOUBLE"/>
		<result column="second_water" property="secondWater" jdbcType="DOUBLE"/>
		<result column="add_number" property="addNumber" jdbcType="DOUBLE"/>
		<result column="add_way" property="addWay" jdbcType="VARCHAR"/>
		<result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
		<result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
		<result column="create_type" property="createType" jdbcType="VARCHAR"/>
		<result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
		<result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
		<result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
		<result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
		<result column="confirmed" property="confirmed" jdbcType="VARCHAR"/>
		<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP"/>
		<result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
		<result column="executed" property="executed" jdbcType="VARCHAR"/>
		<result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
		<result column="executor" property="executor" jdbcType="VARCHAR"/>
		<result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
		<result column="algorithm_rules" property="algorithmRules" jdbcType="VARCHAR"/>
		<result column="result" property="result" jdbcType="VARCHAR"/>
		<result column="next_node_id" property="nextNodeId" jdbcType="VARCHAR"/>
		<result column="can_execute" property="canExecute" jdbcType="BOOLEAN"/>
		<result column="audit_file_id" property="auditFileId" jdbcType="VARCHAR"/>
		<result column="water_proof_file_id" property="waterProofFileId" jdbcType="VARCHAR"/>
		<result column="other_file_id" property="otherFileId" jdbcType="VARCHAR"/>
		<result column="quarter_num" property="quarterNum" jdbcType="DOUBLE"/>
	</resultMap>
	<resultMap id="PrintResultMap" type="com.zjtc.model.vo.EndPaperPrintVO">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
		<result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
		<result column="paper_type" property="paperType" jdbcType="VARCHAR"/>
		<result column="plan_year" property="planYear" jdbcType="INTEGER"/>
		<result column="change_quarter" property="changeQuarter" jdbcType="VARCHAR"/>
		<result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
		<result column="first_water" property="firstWater" jdbcType="DOUBLE"/>
		<result column="second_water" property="secondWater" jdbcType="DOUBLE"/>
		<result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
		<result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
		<result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
		<result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
		<result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
		<result column="quarter_num" property="quarterNum" jdbcType="DOUBLE"/>
	</resultMap>
	<resultMap id="FileMap" type="com.zjtc.model.vo.FileVO">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="file_name" property="fileName" jdbcType="VARCHAR"/>
		<result column="file_path" property="filePath" jdbcType="VARCHAR"/>
		<result column="deleted" property="deleted" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="queryNum" resultType="int">
		SELECT COUNT (id)
		FROM t_w_end_paper
		WHERE id IN
		(SELECT id
		FROM t_w_end_paper
		WHERE node_code = #{nodeCode}
    AND (rescinded ='0' OR rescinded IS NULL OR rescinded ='')
		AND SUBSTRING(unit_code,5,2)<!--类型-->
		IN (
		SELECT unit_type_code
		FROM t_w_use_water_unit_role
		WHERE person_id = #{userId}
		UNION  ALL
		SELECT 'NO_THIS_CODE' AS unit_type_code
		)
		<if test="unitCode != null and unitCode != ''">
			and unit_code like '%${unitCode}%'
		</if>
		<if test="unitName != null and unitName != ''">
			and unit_name like '%${unitName}%'
		</if>
		<if test="executed != null and executed != ''">
			and executed = #{executed}
		</if>
		<if test="waterMeterCode != null and waterMeterCode != ''">
			and water_meter_code like '%${waterMeterCode}%'
		</if>
		<if test="applyTimeStart != null">
			and create_time &gt;= #{applyTimeStart}
		</if>
		<if test="applyTimeEnd != null">
			and create_time &lt;= #{applyTimeEnd}
		</if>
		)
	</select>

	<select id="queryPage" resultMap="PageResultMap">
		SELECT TOP  ${size} t1.id,t1.node_code,t1.use_water_unit_id,t1.unit_code,t1.unit_name,
		t1.water_meter_code,t1.paper_type,<!--申报(调整)类型code-->
		CASE t1.data_sources WHEN '1' THEN '网上申报' WHEN '2' THEN '现场申报' WHEN '3' THEN '微信申报' END AS data_sources,
		t1.create_time,t1.creater_id,t1.creater_name,t1.plan_year,t1.change_quarter,t1.cur_year_plan,
	  t1.first_water,t1.second_water,t1.add_number,t1.add_way,t1.minus_pay_status,t1.balance_test,
		t1.create_type,t1.first_quarter,t1.second_quarter,t1.third_quarter,t1.fourth_quarter,
		CASE t1.confirmed WHEN '0' THEN '否' WHEN '1' THEN '是' END AS confirmed,
		CASE t1.audit_status WHEN '0' THEN '发起审核' WHEN '1' THEN '已办结' WHEN '2' THEN '审核中' END AS audit_status,
		CASE t1.executed WHEN '0' THEN '否' WHEN '1' THEN '是' END AS executed,
		t1.execute_time,t1.executor,t1.executor_id,t1.algorithm_rules,t1.result,t1.next_node_id,
    t1.audit_file_id,t1.water_proof_file_id,t1.other_file_id,
    CASE WHEN (t1.confirmed ='1'AND t1.audit_status ='1' AND (executed IS NULL OR executed ='0' OR executed ='')) THEN 1 ELSE 0 END AS can_execute
		FROM(
		SELECT
		row_number () OVER ( ORDER BY [unit_code] ASC, [id] ) AS rownumber,*
		FROM
		t_w_end_paper t1
		inner join (SELECT unit_type_code FROM t_w_use_water_unit_role WHERE person_id = #{userId} GROUP  BY unit_type_code) t2
		on SUBSTRING ( t1.unit_code, 5, 2 ) = t2.unit_type_code
		where
		t1.node_code = #{nodeCode}
		AND ( t1.rescinded = '0' OR t1.rescinded IS NULL OR t1.rescinded = '' )
		<if test="unitCode != null and unitCode != ''">
			and t1.unit_code like '%${unitCode}%'
		</if>
		<if test="unitName != null and unitName != ''">
			and t1.unit_name like '%${unitName}%'
		</if>
		<if test="executed != null and executed != ''">
			and t1.executed = #{executed}
		</if>
		<if test="waterMeterCode != null and waterMeterCode != ''">
			and t1.water_meter_code like '%${waterMeterCode}%'
		</if>
		<if test="applyTimeStart != null">
			and t1.create_time &gt;= #{applyTimeStart}
		</if>
		<if test="applyTimeEnd != null">
			and t1.create_time &lt;= #{applyTimeEnd}
		</if>
		)t1
		WHERE  rownumber > (#{current}-1)* #{size}
		ORDER BY SUBSTRING ( t1.unit_code, 5, 2 ) ASC, CONVERT(INTEGER,SUBSTRING ( t1.unit_code, 7, 3 )) ASC
	</select>

	<select id="queryAuditFiles" resultMap="FileMap">
		SELECT id, file_name,#{preViewRealPath}+ file_path AS file_path,deleted
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.audit_file_id,number,CHARINDEX(',',a.audit_file_id+',',number)-number) as audit_file_id
		from (SELECT audit_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.audit_file_id)
		and type='p'
		and SUBSTRING(','+a.audit_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
	<select id="queryWaterProofFiles" resultMap="FileMap">
		SELECT id, file_name,#{preViewRealPath}+ file_path AS file_path,deleted
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.water_proof_file_id,number,CHARINDEX(',',a.water_proof_file_id+',',number)-number) as water_proof_file_id
		from (SELECT water_proof_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.water_proof_file_id)
		and type='p'
		and SUBSTRING(','+a.water_proof_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
	<select id="queryOtherFiles" resultMap="FileMap">
		SELECT id, file_name,#{preViewRealPath}+ file_path AS file_path,deleted
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.other_file_id,number,CHARINDEX(',',a.other_file_id+',',number)-number) as other_file_id
		from (SELECT other_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.other_file_id)
		and type='p'
		and SUBSTRING(','+a.other_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
	<select id="findById" resultMap="BaseResultMap">
		SELECT * FROM t_w_end_paper
	  WHERE 	rescinded ='0' and id = #{id}
	</select>
 <select id="queryAfterAdjustUnit" resultType="com.zjtc.model.vo.SendListVO">
	 SELECT t1.id as id,t1.unit_code AS  unitCode,t1.unit_name AS  unitName,
	 <!--t1.paper_type AS  paperType,
	 t1.change_quarter AS changeQuarter,t1.add_number AS addNumber,t1.first_quarter AS firstQuarter,
	 t1.second_quarter AS secondQuarter,t1.third_quarter AS thirdQuarter,t1.fourth_quarter AS  fourthQuarter,-->
	 t2.mobile_number AS mobileNumber,t2.contacts AS receiverName
	 FROM
	 (SELECT id,use_water_unit_id,unit_code,unit_name
	 <!-- ,paper_type,change_quarter,add_number,
	   first_quarter,second_quarter,third_quarter,fourth_quarter-->
	 FROM t_w_end_paper
	 )t1
	 INNER JOIN (SELECT id, MAX(create_time) AS create_time FROM  t_w_end_paper
								 WHERE node_code = #{nodeCode}
								 <!-- 	AND  plan_year =#{year}-->
	               AND audit_status ='1' <!--审核通过，没有确认的、没有撤销的-->
	               AND confirmed = '0'
	               AND rescinded = '0'
								 AND SUBSTRING(unit_code,5,2)<!--类型-->
								 IN (
								 SELECT unit_type_code
								 FROM t_w_use_water_unit_role
								 WHERE person_id = #{userId}
								 UNION  ALL
								 SELECT 'NO_THIS_CODE' AS unit_type_code
								 )
								 <if test="unitCode != null and unitCode != ''">and unit_code like '%${unitCode}%'</if>
	              GROUP  BY  id
	 )ta
	 ON t1.id =ta.id
	 LEFT JOIN  (
	 SELECT use_water_unit_id,contacts,mobile_number
	 FROM t_w_use_water_unit_contacts
	 WHERE deleted = '0'
	 )t2
	 ON t1.use_water_unit_id =t2.use_water_unit_id
 </select>
<select id="printData" resultMap="PrintResultMap">
	SELECT  t1.id,t1.node_code,t1.use_water_unit_id,t1.unit_code,t1.unit_name,
	t1.water_meter_code,t1.paper_type,<!--申报(调整)类型code-->
	t1.plan_year,t1.change_quarter,t1.cur_year_plan,t1.first_water,
	t1.second_water,t1.add_number,t1.first_quarter,t1.second_quarter,
	t1.third_quarter,t1.fourth_quarter,t1.execute_time,
	(SELECT
	<choose>
	<when test="quarter==1">
    COALESCE (first_quarter,0)
	</when>
	<when test="quarter==2">
	 COALESCE (second_quarter,0)
	</when>
	<when test="quarter==3">
		COALESCE (third_quarter,0)
	</when>
	<when test="quarter==4">
		COALESCE (fourth_quarter,0)
	</when>
	<otherwise >
		0
	</otherwise>
</choose>
	FROM t_w_use_water_plan WHERE  use_water_unit_id =t1.use_water_unit_id AND plan_year= t1.plan_year) AS quarter_num
	FROM t_w_end_paper t1
  <if test="wxIds.size()>0">
	WHERE t1.rescinded ='0'
  AND t1.water_plan_WX_id IN
	<foreach collection="wxIds" item="id" separator="," open="(" close=")">
		#{id}
	</foreach>
  </if>
  <if test="ids.size()>0">
    WHERE t1.rescinded ='0'
    AND t1.id IN
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </if>
</select>
	<update id="update">
		update t_w_end_paper
		<set>
			<if test="firstWater != null">first_water= #{firstWater},</if>
			<if test="secondWater != null">second_water = #{secondWater},</if>
			<if test="addWay != null and addWay != ''">add_way = #{addWay},</if>
			<if test="quarter != null and quarter != ''">quarter = #{quarter},</if>
			<if test="addNumber != null">add_number = #{addNumber},</if>
			<if test="addNumber != null">cur_year_plan = #{addNumber},</if> <!--增加水量也赋值给年计划，回填数据-->
			<if test="algorithmRules != null and algorithmRules != ''">algorithm_rules = #{algorithmRules},</if>
			<if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateFromWeChat">
		update t_w_end_paper
		<set>
			<if test="endPaper.addNumber != null">add_number= #{endPaper.addNumber},</if>
			<if test="endPaper.curYearPlan != null">cur_year_plan= #{endPaper.curYearPlan},</if>
			<if test="endPaper.firstQuarter != null">first_quarter= #{endPaper.firstQuarter},</if>
			<if test="endPaper.secondQuarter != null">second_quarter= #{endPaper.secondQuarter},</if>
			<if test="endPaper.thirdQuarter != null">third_quarter= #{endPaper.thirdQuarter},</if>
			<if test="endPaper.fourthQuarter != null">fourth_quarter= #{endPaper.fourthQuarter},</if>
			<if test="endPaper.confirmed != null and endPaper.confirmed != ''">confirmed = #{endPaper.confirmed},</if>
			<if test="endPaper.confirmTime != null">confirm_time = #{endPaper.confirmTime},</if>
		</set>
		where water_plan_WX_id = #{endPaper.waterPlanWXId}
	</update>
</mapper>