<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.IndustryUseWaterMapper">
<select id="queryList" resultType="java.util.LinkedHashMap">
  SELECT ta.name,ta.value
	FROM(SELECT t2.industry_name AS name,SUM(COALESCE(t3.number,0)) AS value
     FROM
    (SELECT id,industry
     FROM  t_w_use_water_unit
     WHERE node_code = #{nodeCode}
     AND deleted='0'
     )t1
     INNER JOIN
     (SELECT id,industry_name
      FROM t_w_quota_info
      WHERE deleted='0'
      )t2
      ON t1.industry=t2.id
      LEFT JOIN
      ( SELECT sum(COALESCE (tb.water_number,0)) AS number,tc.use_water_unit_id,tb.use_year
        FROM
        (SELECT use_water_unit_id,water_meter_code
        FROM t_w_use_water_unit_meter
        )tc
       INNER JOIN
       ( SELECT water_number,use_year,water_meter_code
         FROM t_w_water_use_data
        WHERE use_year =#{year}
       )tb
       ON tc.water_meter_code=tb.water_meter_code
       GROUP BY tc.use_water_unit_id,tb.use_year
      )t3
      ON t1.id=t3.use_water_unit_id
  GROUP BY t2.industry_name
  )ta
  WHERE ta.value&lt;&gt;0

</select>
<select id="queryRankData" resultType="java.util.LinkedHashMap">
 SELECT ta.unitName,ta.useWaterNumber
 FROM (
  SELECT top 10 t1.unit_name AS unitName,COALESCE (t2.number,0) AS useWaterNumber
  FROM
    (SELECT id,industry,unit_name
     FROM  t_w_use_water_unit
     WHERE node_code = #{nodeCode}
     AND deleted='0'
     AND industry = #{id}
     )t1
     LEFT JOIN
      ( SELECT sum(COALESCE (tb.water_number,0)) AS number,tc.use_water_unit_id,tb.use_year
       FROM
        (SELECT use_water_unit_id,water_meter_code
        FROM t_w_use_water_unit_meter
        )tc
       INNER JOIN
       ( SELECT water_number,use_year,water_meter_code
         FROM t_w_water_use_data
        WHERE use_year =#{year}
       )tb
       ON tc.water_meter_code=tb.water_meter_code
        GROUP BY tc.use_water_unit_id,tb.use_year
      )t2
  ON t1.id=t2.use_water_unit_id
  )ta
  WHERE ta.useWaterNumber  &lt;&gt;0
  ORDER BY ta.useWaterNumber DESC
</select>
</mapper>