<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.RefundOrRefundMapper">
  <!-- RefundOrRefund的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
  <resultMap id="result_RefundOrRefund_Map" type="com.zjtc.model.RefundOrRefund">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="pay_id" property="payId" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="VARCHAR"/>
    <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
    <result column="quarter" property="quarter" jdbcType="VARCHAR"/>
    <result column="year" property="year" jdbcType="INTEGER"/>
    <result column="actual_amount" property="actualAmount" jdbcType="FLOAT"/>
    <result column="money" property="money" jdbcType="FLOAT"/>
    <result column="reason" property="reason" jdbcType="VARCHAR"/>
    <result column="drawer" property="drawer" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="audit_person" property="auditPerson" jdbcType="VARCHAR"/>
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP"/>
    <result column="status" property="status" jdbcType="VARCHAR"/>
    <result column="next_node_id" property="nextNodeId" jdbcType="VARCHAR"/>
    <result column="is_revoke" property="isRevoke" jdbcType="VARCHAR"/>
    <result column="treatment_advice" property="treatmentAdvice" jdbcType="VARCHAR"/>
    <result column="editBtn" property="editBtn" jdbcType="VARCHAR"/>
    <collection property="sysFiles" column="{id=id,nodeCode=node_code}" select="selectsysFile"
      ofType="com.zjtc.model.File">
    </collection>
  </resultMap>

  <resultMap id="sysAttrFileMap" type="com.zjtc.model.File">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
    <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryAll" resultMap="result_RefundOrRefund_Map">

  </select>

  <select id="queryAuditList" resultType="java.util.LinkedHashMap">
    SELECT
    t1.id AS id,
    t1.operation_time AS operationTime,
    t1.audit_status AS auditStatus,
    CASE  t1.audit_status WHEN '0' THEN  '发起' WHEN '1' THEN  '待审核' WHEN '2' THEN  '审核通过' WHEN '3' THEN '审核不通过' END auditStatusName,
    t1.operator AS operator, t1.operator_id AS operatorId,  t3.org_name AS orgName,
    audit_content as auditContent
    FROM
    (
    SELECT id,operator_id, node_code, audit_status, operator ,operation_time,create_time,audit_content
    FROM t_flow_process WHERE business_id = #{id} and node_code=#{nodeCode}) AS t1
    LEFT JOIN ( SELECT id, org_id FROM t_user  where node_code=#{nodeCode}) t2 ON t1.operator_id = t2.id
    LEFT JOIN ( SELECT id, org_name FROM t_org  where  node_code=#{nodeCode}) t3 ON t2.org_id = t3.id
    order by t1.create_time ASC
  </select>
  <select id="selectsysFile" resultMap="sysAttrFileMap">
    select
    id,
    file_path,
    file_name,
    deleted
    from t_file
    where business_id =#{id}
    and deleted='0'
    and node_code=#{nodeCode}
    order by create_time desc
  </select>


  <select id="queryPage" resultMap="result_RefundOrRefund_Map">
    SELECT
    top ${json.pageSize}
    *
    FROM
    (
    SELECT
    row_number ( ) over (
    ORDER BY
    create_time DESC
    ) AS rownumber,
    id,
    node_code,
    use_water_unit_id,
    unit_code,
    unit_name,
    water_meter_code,
    create_time,
    drawer,
    quarter,
    year,
    money,
    reason,
    treatment_advice,
    actual_amount,
    status,
    case
    t1.type
    when'1' then '退款单'
    when '2' then '减免单'
    else '未知' end as typeName
    from t_w_refund_or_refund t1
    <!--待审核-->
    <if test="json.keyWrod==1">
    inner join (select busIness_id
    from
      <foreach collection="list" index="index" item="item" open="(" separator="union" close=")">
        select
        #{item.businessId} as busIness_id,
        #{item.operatorId} as operator_id,
        #{item.auditStatus} as audit_status
      </foreach>
      t2
      where audit_status='1' and operator_id=#{json.userId}
      group by busIness_id
      ) tt2 on tt2.busIness_id=t1.id
    </if>
    <!--已审核-->
    <if test="json.keyWrod==2">
      inner join(select busIness_id as id
      from
      <foreach collection="list" index="index" item="item" open="(" separator="union" close=")">
        select
        #{item.businessId} as busIness_id,
        #{item.operatorId} as operator_id,
        #{item.auditStatus} as audit_status
      </foreach>
      t2
      where (audit_status='2' or audit_status='3') and operator_id=#{json.userId}
      group by busIness_id
      ) tt2 on tt2.busIness_id=t1.id
    </if>
    where node_code=#{json.nodeCode}
    and is_revoke='0'
    <if test="null !=json.unitCode and json.unitCode !=''">
      and unit_code like '%${json.unitCode}%'
    </if>
    <if test="null !=json.unitName and json.unitName !=''">
      and unit_name like '%${json.unitName}%'
    </if>
    <if test="null !=json.waterMeterCode and json.waterMeterCode !=''">
      and water_meter_code like '%${json.waterMeterCode}%'
    </if>
    <if test="null !=json.year and json.year !=''">
      and t1.year =#{json.year}
    </if>
    <if test="null !=json.type and json.type !=''">
      and t1.type =#{json.type}
    </if>
    <if test="null !=json.startTime and json.startTime !=''">
      and t1.create_time &gt;= #{json.startTime}
    </if>
    <if test="null !=json.endTime and json.endTime !=''">
      and t1.create_time &lt; #{json.endTime}
    </if>
    ) temp_row
    WHERE
    rownumber > ( ( #{json.current}- 1 ) * #{json.pageSize} );
  </select>

  <select id="queryListTotal" resultType="java.lang.Long">


    SELECT
    count(1)
    from t_w_refund_or_refund t1
    where node_code=#{json.nodeCode}
    and is_revoke='0'
    <!--待审核-->
    <if test="json.keyWrod==1">
      and id in(select busIness_id as id from
      <foreach collection="list" index="index" item="item" open="(" separator="union" close=")">
        select
        #{item.businessId} as busIness_id,
        #{item.operatorId} as operator_id,
        #{item.auditStatus} as audit_status
      </foreach>
      t2
      where audit_status='1' and operator_id=#{json.userId})
    </if>
    <!--已审核-->
    <if test="json.keyWrod==2">
      and id in(
      select busIness_id as id
      from
      <foreach collection="list" index="index" item="item" open="(" separator="union" close=")">
        select
        #{item.businessId} as busIness_id,
        #{item.operatorId} as operator_id,
        #{item.auditStatus} as audit_status
      </foreach>
      t2
      where (audit_status='2' or audit_status='3') and operator_id=#{json.userId})
    </if>
    <if test="null !=json.unitCode and json.unitCode !=''">
      and unit_code like '%${json.unitCode}%'
    </if>
    <if test="null !=json.unitName and json.unitName !=''">
      and unit_name like '%${json.unitName}%'
    </if>
    <if test="null !=json.waterMeterCode and json.waterMeterCode !=''">
      and water_meter_code like '%${json.waterMeterCode}%'
    </if>
    <if test="null !=json.year and json.year !=''">
      and t1.year =#{json.year}
    </if>
    <if test="null !=json.type and json.type !=''">
      and t1.type =#{json.type}
    </if>
    <if test="null !=json.startTime and json.startTime !=''">
      and t1.create_time &gt;= #{json.startTime}
    </if>
    <if test="null !=json.endTime and json.endTime !=''">
      and t1.create_time &lt; #{json.endTime}
    </if>
    ;

  </select>

  <select id="auditCount" resultType="java.lang.Long">
    select count(1)
    from t_w_refund_or_refund
    where pay_id=#{payId}
    and node_code=#{nodeCode}
    and (status='0' or status='1')
    and is_revoke='0'
  </select>
</mapper>