<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.UseWaterSelfDefinePlanMapper">
  <!-- TWUseWaterSelfDefinePlan的resultMap,column是给数据库列起的别名,它对应property类的属性 -->

  <resultMap id="TWUseWaterSelfDefinePlanModel" type="com.zjtc.model.UseWaterSelfDefinePlan">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="plan_year" property="planYear" jdbcType="INTEGER"/>
    <result column="cur_year_plan" property="curYearPlan" jdbcType="INTEGER"/>
    <result column="first_quarter" property="firstQuarter" jdbcType="INTEGER"/>
    <result column="second_quarter" property="secondQuarter" jdbcType="INTEGER"/>
    <result column="third_quarter" property="thirdQuarter" jdbcType="INTEGER"/>
    <result column="fourth_quarter" property="fourthQuarter" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="audit_time" property="auditTime" jdbcType="VARCHAR"/>
    <result column="audit_person" property="auditPerson" jdbcType="VARCHAR"/>
    <result column="audit_person_id" property="auditPersonId" jdbcType="VARCHAR"/>
    <result column="audit_result" property="auditResult" jdbcType="VARCHAR"/>
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    <result column="executor" property="executor" jdbcType="VARCHAR"/>
    <result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
    <result column="execute_result" property="executeResult" jdbcType="VARCHAR"/>
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
    <result column="executed" property="executed" jdbcType="VARCHAR"/>
    <collection property="selfDefineFiles" ofType="java.util.LinkedHashMap" column="id"
      select="SelectSysAttrFileMap">
    </collection>
  </resultMap>


  <resultMap id="UseWaterSelfDefinePlanVOModel" type="com.zjtc.model.vo.UseWaterSelfDefinePlanVO">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="plan_year" property="planYear" jdbcType="INTEGER"/>
    <result column="cur_year_plan" property="curYearPlan" jdbcType="INTEGER"/>
    <result column="first_quarter" property="firstQuarter" jdbcType="INTEGER"/>
    <result column="second_quarter" property="secondQuarter" jdbcType="INTEGER"/>
    <result column="third_quarter" property="thirdQuarter" jdbcType="INTEGER"/>
    <result column="fourth_quarter" property="fourthQuarter" jdbcType="INTEGER"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="audit_time" property="auditTime" jdbcType="VARCHAR"/>
    <result column="audit_person" property="auditPerson" jdbcType="VARCHAR"/>
    <result column="audit_person_id" property="auditPersonId" jdbcType="VARCHAR"/>
    <result column="audit_result" property="auditResult" jdbcType="VARCHAR"/>
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    <result column="executor" property="executor" jdbcType="VARCHAR"/>
    <result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
    <result column="execute_result" property="executeResult" jdbcType="VARCHAR"/>
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
    <result column="auditStatusName" property="auditStatusName" jdbcType="VARCHAR"/>
    <result column="executed" property="executed" jdbcType="VARCHAR"/>
    <result column="executedName" property="executedName" jdbcType="VARCHAR"/>
    <result column="preViewRealPath" property="preViewRealPath" jdbcType="VARCHAR"/>
    <collection property="selfDefineFiles"
      column="{id=id,preViewRealPath=preViewRealPath,nodeCode=node_code}"
      ofType="com.zjtc.model.File"
      select="selectSysAttrFileMap"/>
  </resultMap>

  <resultMap id="sysAttrFileMap" type="com.zjtc.model.vo.FileVO">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="file_path" property="filePath" jdbcType="VARCHAR"/>
    <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
  </resultMap>


  <resultMap id="BaseResultMap" type="com.zjtc.model.UseWaterPlan">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="algorithm_type" property="algorithmType" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="plan_year" property="planYear" jdbcType="INTEGER"/>
    <result column="base_water_amount" property="baseWaterAmount" jdbcType="DOUBLE"/>
    <result column="before_last_year_water_amount" property="beforeLastYearWaterAmount"
      jdbcType="DOUBLE"/>
    <result column="last_year_water_amount" property="lastYearWaterAmount" jdbcType="DOUBLE"/>
    <result column="three_year_avg" property="threeYearAvg" jdbcType="DOUBLE"/>
    <result column="now_price" property="nowPrice" jdbcType="DOUBLE"/>
    <result column="n8" property="n8" jdbcType="INTEGER"/>
    <result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
    <result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
    <result column="create_type" property="createType" jdbcType="VARCHAR"/>
    <result column="cur_year_base_plan" property="curYearBasePlan" jdbcType="DOUBLE"/>
    <result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
    <result column="next_year_start_plan" property="nextYearStartPlan" jdbcType="DOUBLE"/>
    <result column="next_year_end_plan" property="nextYearEndPlan" jdbcType="DOUBLE"/>
    <result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
    <result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
    <result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
    <result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
    <result column="plan_type" property="planType" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
    <result column="added" property="added" jdbcType="VARCHAR"/>
    <result column="reduce_plan" property="reducePlan" jdbcType="DOUBLE"/>
    <result column="reward_plan" property="rewardPlan" jdbcType="DOUBLE"/>
    <result column="assess_quarter" property="assessQuarter" jdbcType="VARCHAR"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- 2021.05.11 yuchen -->
  <select id="queryList" parameterType="java.util.Map" resultMap="UseWaterSelfDefinePlanVOModel">
    SELECT TOP
    ${pageSize} c.*
    FROM
    (
    SELECT
    row_number () OVER ( ORDER BY create_time DESC ) AS rownumber,
    id,
    node_code,
    use_water_unit_id,
    unit_name,
    unit_code,
    water_meter_code,
    plan_year,
    cur_year_plan,
    first_quarter,
    second_quarter,
    third_quarter,
    fourth_quarter,
    create_time,
    audit_time,
    audit_person,
    audit_person_id,
    audit_result,
    execute_time,
    executor,
    executor_id,
    execute_result,
    audit_status,
    CASE audit_status
    WHEN 0 THEN '未审核'
    WHEN 1 THEN '审核不通过'
    WHEN 2 THEN '审核通过'
    END as auditStatusName,
    executed,
    CASE executed
    WHEN 0 THEN '未执行'
    WHEN 1 THEN '已执行'
    END as executedName,
    #{preViewRealPath} AS preViewRealPath
    FROM
    t_w_use_water_self_define_plan t1
    WHERE t1.node_code = #{nodeCode}
    and audit_status != 3
    <if test="unitName != null and unitName != ''">
      and t1.unit_name like '%${unitName}%'
    </if>
    <if test="planYear != null  and planYear != ''">
      and t1.plan_year like '%${planYear}%'
    </if>
    <if test="unitCode != null and unitCode != ''">
      and t1.unit_code like '%${unitCode}%'
    </if>
    <if test="audit != null and audit.size > 0">
      and t1.audit_status in (
      <foreach collection="audit" item="audit" separator=",">
        #{audit}
      </foreach>
      )
    </if>
    <if test="executed != null and executed != ''">
      and t1.executed = #{executed}
    </if>
    <if test="unitCodeType != null and unitCodeType != ''">
      and SUBSTRING(t1.unit_code, 5, 2) = #{unitCodeType}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and SUBSTRING(t1.unit_code, 1, 2) = #{areaCode}
    </if>
    and
    SUBSTRING ( unit_code,5,2 )
    IN ( SELECT unit_type_code
    FROM t_w_use_water_unit_role WHERE person_id = #{userId}
    <if test="unitCodeType != null and unitCodeType != ''">
      and unit_type_code = #{unitCodeType}
    </if>
    <if test="userType != null and userType != ''">
      and unit_type_code = #{userType}
    </if>
      )
    ) c
    WHERE
    rownumber > (${pageSize}*(${currPage}-1))
  </select>


  <!--
  <select id="queryList" parameterType="java.util.Map" resultMap="UseWaterSelfDefinePlanVOModel">
    SELECT TOP
    ${pageSize} c.*
    FROM
    (
    SELECT
    row_number () OVER ( ORDER BY create_time DESC ) AS rownumber,
    id,
    node_code,
    use_water_unit_id,
    unit_name,
    unit_code,
    water_meter_code,
    plan_year,
    cur_year_plan,
    first_quarter,
    second_quarter,
    third_quarter,
    fourth_quarter,
    create_time,
    audit_time,
    audit_person,
    audit_person_id,
    audit_result,
    execute_time,
    executor,
    executor_id,
    execute_result,
    audit_status,
    CASE audit_status
    WHEN 0 THEN '未审核'
    WHEN 1 THEN '审核不通过'
    WHEN 2 THEN '审核通过'
    END as auditStatusName,
    executed,
    CASE executed
    WHEN 0 THEN '未执行'
    WHEN 1 THEN '已执行'
    END as executedName,
    #{preViewRealPath} AS preViewRealPath
    FROM
    t_w_use_water_self_define_plan t1
    WHERE t1.node_code = #{nodeCode}
    and audit_status != 3
    <if test="unitName != null and unitName != ''">
      and t1.unit_name like '%${unitName}%'
    </if>
    <if test="userType != null and userType != ''">
      and SUBSTRING(t1.unit_code, 5, 2) like '%${userType}%'
    </if>
    <if test="planYear != null  and planYear != ''">
      and t1.plan_year like '%${planYear}%'
    </if>
    <if test="unitCode != null and unitCode != ''">
      and t1.unit_code like '%${unitCode}%'
    </if>
    <if test="audit != null and audit.size > 0">
      and t1.audit_status in (
      <foreach collection="audit" item="audit" separator=",">
        #{audit}
      </foreach>
      )
    </if>
    <if test="executed != null and executed != ''">
      and t1.executed = #{executed}
    </if>
    <if test="unitCodeType != null and unitCodeType != ''">
      and SUBSTRING(t1.unit_code, 5, 2) = #{unitCodeType}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and SUBSTRING(t1.unit_code, 1, 2) = #{areaCode}
    </if>
    and id IN (
    SELECT
    id
    FROM
    t_w_use_water_self_define_plan
    WHERE
    node_code = #{nodeCode}
    AND SUBSTRING ( unit_code,5,2 )
    IN ( SELECT unit_type_code
    FROM t_w_use_water_unit_role WHERE person_id = #{userId}))
    ) c
    WHERE
    rownumber > (${pageSize}*(${currPage}-1))
  </select>
  -->

  <!-- 2021.05.11 yuchen -->
  <select id="selectCount" resultType="int">

    SELECT
    count(1)
    FROM
    t_w_use_water_self_define_plan t1
    WHERE 1 = 1
    AND t1.node_code = #{nodeCode}
    and audit_status != 3
    <if test="unitName != null and unitName != ''">
      and t1.unit_name like '%${unitName}%'
    </if>
    <if test="planYear != null  and planYear != ''">
      and t1.plan_year like '%${planYear}%'
    </if>
    <if test="unitCode != null and unitCode != ''">
      and t1.unit_code like '%${unitCode}%'
    </if>
    <if test="audit != null and audit.size > 0">
      and t1.audit_status in (
      <foreach collection="audit" item="audit" separator=",">
        #{audit}
      </foreach>
      )
    </if>
    <if test="executed != null and executed != ''">
      and t1.executed = #{executed}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and SUBSTRING(t1.unit_code, 1, 2) = #{areaCode}
    </if>
    AND SUBSTRING ( t1.unit_code,5,2 )
    IN ( SELECT unit_type_code
    FROM t_w_use_water_unit_role WHERE person_id = #{userId}
    <if test="unitCodeType != null and unitCodeType != ''">
      and unit_type_code = #{unitCodeType}
    </if>
    <if test="userType != null and userType != ''">
      and unit_type_code = #{userType}
    </if>
    )

  </select>

  <!--
  <select id="selectCount" resultType="int">

    SELECT
    count(1)
    FROM
    t_w_use_water_self_define_plan t1
    WHERE 1 = 1
    AND t1.node_code = #{nodeCode}
    and audit_status != 3
    <if test="unitName != null and unitName != ''">
      and t1.unit_name like '%${unitName}%'
    </if>
    <if test="userType != null and userType != ''">
      and SUBSTRING(t1.unit_code, 5, 2) like '%${userType}%'
    </if>
    <if test="planYear != null  and planYear != ''">
      and t1.plan_year like '%${planYear}%'
    </if>
    <if test="unitCode != null and unitCode != ''">
      and t1.unit_code like '%${unitCode}%'
    </if>
    <if test="audit != null and audit.size > 0">
      and t1.audit_status in (
      <foreach collection="audit" item="audit" separator=",">
        #{audit}
      </foreach>
      )
    </if>
    <if test="executed != null and executed != ''">
      and t1.executed = #{executed}
    </if>
    <if test="unitCodeType != null and unitCodeType != ''">
      and SUBSTRING(t1.unit_code, 5, 2) = #{unitCodeType}
    </if>
    <if test="areaCode != null and areaCode != ''">
      and SUBSTRING(t1.unit_code, 1, 2) = #{areaCode}
    </if>
    and id IN (
    SELECT
    id
    FROM
    t_w_use_water_self_define_plan
    WHERE
    node_code = #{nodeCode}
    AND SUBSTRING ( unit_code,5,2 )
    IN ( SELECT unit_type_code
    FROM t_w_use_water_unit_role WHERE person_id = #{userId}))
  </select>

  -->

  <select id="selectSysAttrFileMap" resultMap="sysAttrFileMap">
    select
    *,#{preViewRealPath}+ file_path AS file_path,deleted
    from t_file
    where business_id = #{id}
    and deleted='0'
    and node_code = #{nodeCode}
    order by create_time desc
  </select>

  <update id="updateExecuteData">
    update t_w_use_water_self_define_plan set
    executed = '1',
    execute_time = #{executeTime},
    executor = #{executor},
    executor_id = #{executorId},
    execute_result = '1'
    where id = #{id}
  </update>

  <select id="selectFileId" resultType="java.lang.String">
    SELECT
    t2.id
    FROM
    t_w_use_water_self_define_plan t1
    LEFT JOIN t_file t2 ON t1.id = t2.business_id
    WHERE
    t2.deleted = '0'
    and t2.business_id = #{id}
  </select>

  <update id="updateUseWaterPlanWater">
    update t_w_use_water_plan set
    first_quarter = #{firstQuarter},
    second_quarter = #{secondQuarter},
    third_quarter = #{thirdQuarter},
    fourth_quarter = #{fourthQuarter},
    cur_year_plan = #{curYearPlan},
    update_user_id = #{executorId},
    update_time = #{updateTime}
    where id = #{id}
  </update>

  <select id="selectWaterPlan" resultMap="BaseResultMap">
    select
    id,
    node_code,
    use_water_unit_id,
    unit_name,
    unit_code,
    algorithm_type,
    water_meter_code,
    plan_year,
    base_water_amount,
    before_last_year_water_amount,
    last_year_water_amount,
    three_year_avg,
    now_price,
    n8,
    minus_pay_status,
    balance_test,
    create_type,
    cur_year_base_plan,
    cur_year_plan,
    next_year_start_plan,
    next_year_end_plan,
    first_quarter,
    second_quarter,
    third_quarter,
    fourth_quarter,
    plan_type,
    create_time,
    update_user_id,
    added,
    reduce_plan,
    reward_plan,
    assess_quarter,
    remarks,
    update_time,
    exist_settlement_form,
    printed

    from
    t_w_use_water_plan where
    node_code = #{nodeCode} and
    use_water_unit_id = #{useWaterUnitId} and
    unit_name = #{unitName} and
    unit_code = #{unitCode} and
    plan_year= #{planYear}
  </select>

  <select id="selectAuditStatus" resultType="com.zjtc.model.UseWaterSelfDefinePlan">
    select
    id,
    node_code as nodeCode,
    use_water_unit_id,
    unit_name as unitName,
    unit_code,
    water_meter_code,
    plan_year,
    cur_year_plan,
    first_quarter,
    second_quarter,
    third_quarter,
    fourth_quarter,
    create_time,
    audit_time,
    audit_person,
    audit_person_id,
    audit_result,
    execute_time,
    executor,
    executor_id,
    execute_result,
    executed,
    audit_status,
    fileId
    FROM t_w_use_water_self_define_plan WHERE (audit_status = '0' OR audit_status = '1')
    and id = #{id}
  </select>

  <select id="selectExecuted" resultType="com.zjtc.model.UseWaterSelfDefinePlan">
    select
    id,
    node_code,
    use_water_unit_id,
    unit_name as unitName,
    unit_code,
    water_meter_code,
    plan_year,
    cur_year_plan,
    first_quarter,
    second_quarter,
    third_quarter,
    fourth_quarter,
    create_time,
    audit_time,
    audit_person,
    audit_person_id,
    audit_result,
    execute_time,
    executor,
    executor_id,
    execute_result,
    executed,
    audit_status,
    fileId
    FROM t_w_use_water_self_define_plan WHERE executed = '1' and id = #{id}
  </select>

  <select id="selectByUnitCode" resultMap="UseWaterSelfDefinePlanVOModel">
    select
    *
    from
    t_w_use_water_self_define_plan where unit_code = #{unitCode}
  </select>
</mapper>