<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.WaterQuantityManageMapper">

  <resultMap id="BaseResultMap" type="com.zjtc.model.WaterUseData">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_address" property="unitAddress" jdbcType="VARCHAR"/>
    <result column="use_year" property="useYear" jdbcType="INTEGER"/>
    <result column="use_month" property="useMonth" jdbcType="INTEGER"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="water_begin" property="waterBegin" jdbcType="VARCHAR"/>
    <result column="water_end" property="waterEnd" jdbcType="VARCHAR"/>
    <result column="water_number" property="waterNumber" jdbcType="VARCHAR"/>
    <result column="price" property="price" jdbcType="VARCHAR"/>
    <result column="caliber" property="caliber" jdbcType="INTEGER"/>
    <result column="sector" property="sector" jdbcType="VARCHAR"/>
    <result column="water_use_kinds" property="waterUseKinds" jdbcType="VARCHAR"/>
    <result column="uid" property="uid" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="VARCHAR"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryNum" resultType="int">
    SELECT COUNT (id)
    FROM t_w_water_use_data
    WHERE node_code = #{nodeCode}
    <if test="unitName != null and unitName != ''">
      and unit_name like '%${unitName}%'
    </if>
    <if test="waterMeterCode != null and waterMeterCode != ''">
      and water_meter_code = #{waterMeterCode}
    </if>
    <if test="waterNumberStart != null">
      and water_number &gt;= #{waterNumberStart}
    </if>
    <if test="waterNumberEnd != null">
      and water_number &lt;= #{waterNumberEnd}
    </if>
    <if test="priceStart != null">
      and price &gt;= #{priceStart}
    </if>
    <if test="priceEnd != null">
      and price &lt;= #{priceEnd}
    </if>
    <if test="caliberStart != null">
      and caliber &gt;= #{caliberStart}
    </if>
    <if test="caliberEnd != null">
      and caliber &lt;= #{caliberEnd}
    </if>
    <if test="sectorStart != null">
      and convert(int,sector) &gt;= #{sectorStart}
    </if>
    <if test="sectorEnd != null">
      and convert(int,sector) &lt;= #{sectorEnd}
    </if>
    <if test="useYearStart != null">
      and use_year >= #{useYearStart}
    </if>
    <if test="useYearEnd != null">
      and use_year &lt;= #{useYearEnd}
    </if>
  </select>
  <select id="queryPage" resultType="java.util.LinkedHashMap">
--     SELECT t.id AS id, t.use_water_unit_id AS useWaterUnitId,t.unit_code AS unitCode,t.unit_name AS unitName,unit_address AS unitAddress,
--     convert(varchar(50),t.use_year)+'年' + convert(varchar(50),t.use_month) +'月' AS yearAndMonth,
--     t.water_meter_code AS waterMeterCode,t.water_begin AS waterBegin,t.water_end AS waterEnd,
--     t.water_number AS waterNumber,t.price AS price,t.caliber AS caliber,t.sector AS sector,
--     t.water_use_kinds AS waterUseKinds,t.uid AS uid,t.node_code AS nodeCode,t.type AS type,
--     t.remarks AS remarks
--     FROM
--     (
    SELECT  TOP ${size} t1.unit_name AS unitName,t1.unit_address AS unitAddress,
    convert(varchar(10),t1.use_year)+'年' + convert(varchar(10),t1.use_month) +'月' AS yearAndMonth,t1.price AS price,
    t1.caliber AS caliber,t1.sector AS sector,
    t1.water_meter_code AS waterMeterCode,t1.water_begin AS waterBegin,t1.water_end AS waterEnd,
    t1.water_number AS waterNumber,
    t1.water_use_kinds AS waterUseKinds,t1.type AS type,
    t1.remarks AS remarks
    FROM(SELECT row_number () OVER ( ORDER BY [use_year] DESC ,[use_month] DESC ,[id]) AS rownumber,unit_name,unit_address,use_year,use_month,
    water_meter_code,water_begin,water_end,water_number,price,caliber,sector,water_use_kinds,type,remarks
            FROM
            t_w_water_use_data
            WHERE
            node_code = #{nodeCode}
            <if test="unitName != null and unitName != ''">
               and unit_name like '%${unitName}%'
            </if>
            <if test="waterMeterCode != null and waterMeterCode != ''">
             and water_meter_code = #{waterMeterCode}
            </if>
            <if test="waterNumberStart != null">
              and water_number &gt;= #{waterNumberStart}
            </if>
            <if test="waterNumberEnd != null">
              and water_number &lt;= #{waterNumberEnd}
            </if>
            <if test="priceStart != null">
              and price &gt;= #{priceStart}
            </if>
            <if test="priceEnd != null">
              and price &lt;= #{priceEnd}
            </if>
            <if test="caliberStart != null">
              and caliber &gt;= #{caliberStart}
            </if>
            <if test="caliberEnd != null">
              and caliber &lt;= #{caliberEnd}
            </if>
            <if test="sectorStart != null">
              and convert(int,sector) &gt;= #{sectorStart}
            </if>
            <if test="sectorEnd != null">
              and convert(int,sector) &lt;= #{sectorEnd}
            </if>
            <if test="useYearStart != null">
              and use_year >= #{useYearStart}
            </if>
            <if test="useYearEnd != null">
              and use_year &lt;= #{useYearEnd}
            </if>
      )t1
      WHERE  rownumber > (#{current}-1)* #{size}
  </select>

  <select id="threeYearUseData" resultType="java.util.LinkedHashMap">
  SELECT  t2.use_year,t2.firstQuarter,t2.secondQuarter,t2.threeQuarter,t2.fourthQuarter
  FROM
    (
     SELECT  id FROM
     t_w_use_water_unit
     WHERE unit_code = #{unitCode}
     )t1
     INNER JOIN
    (
     SELECT use_water_unit_id,use_year,
    (COALESCE (january_count,0)+COALESCE (february_count,0)+COALESCE (march_count,0)) AS  firstQuarter,
    (COALESCE (april_count,0)+COALESCE (may_count,0)+COALESCE (june_count,0)) AS  secondQuarter,
    (COALESCE (july_count,0)+COALESCE (august_count,0)+COALESCE (september_count,0)) AS  threeQuarter,
    (COALESCE (october_count,0)+COALESCE (november_count,0)+COALESCE (december_count,0)) AS  fourthQuarter
    FROM t_w_water_month_use_data
    WHERE use_year> #{currentYear}-3
    AND use_year &lt;= #{currentYear}
    )t2
    ON t1.id=t2.use_water_unit_id
    ORDER BY t2.use_year ASC
  </select>
  <insert id="insertOrUpdate" parameterType="com.zjtc.model.WaterUseData" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="num" order="BEFORE" resultType="int">
      SELECT
      COUNT(id)
      AS num
      FROM t_w_water_use_data
      WHERE water_meter_code=#{waterUseData.waterMeterCode}
      AND use_year=#{waterUseData.useYear}
      AND use_month =#{waterUseData.useMonth}
    </selectKey>
    <if test="num==0">
      INSERT INTO t_w_water_use_data(id,use_water_unit_id,use_year,use_month,water_meter_code,water_begin,water_end,water_number,price,caliber
      ,sector,uid,water_use_kinds,unit_address,unit_name,node_code,type,unit_code,remarks)
      VALUES (#{waterUseData.id},#{waterUseData.useWaterUnitId},#{waterUseData.useYear},#{waterUseData.useMonth},#{waterUseData.waterMeterCode}
      ,#{waterUseData.waterBegin},#{waterUseData.waterEnd},#{waterUseData.waterNumber},#{waterUseData.price}, #{waterUseData.caliber}
      ,#{waterUseData.sector},#{waterUseData.uid},#{waterUseData.waterUseKinds},#{waterUseData.unitAddress},#{waterUseData.unitName}
      ,#{waterUseData.nodeCode},#{waterUseData.type},#{waterUseData.unitCode},#{waterUseData.remarks})
    </if>
    <if test="num>0">
      UPDATE t_w_water_use_data
      SET
      use_water_unit_id=#{waterUseData.useWaterUnitId},
      use_year =#{waterUseData.useYear},
      use_month =#{waterUseData.useMonth},
      water_meter_code=#{waterUseData.waterMeterCode},
      water_begin= #{waterUseData.waterBegin},
      water_end=#{waterUseData.waterEnd},
      water_number=#{waterUseData.waterNumber},
      price=#{waterUseData.price},
      caliber=#{waterUseData.caliber},
      sector =#{waterUseData.sector},
      uid=#{waterUseData.uid},
      water_use_kinds=#{waterUseData.waterUseKinds},
      unit_address=#{waterUseData.unitAddress},
      unit_name=#{waterUseData.unitName},
      node_code=#{waterUseData.nodeCode},
      type=#{waterUseData.type},
      unit_code=#{waterUseData.unitCode},
      remarks=#{waterUseData.remarks}
      WHERE
      use_year= #{waterUseData.useYear}
      AND use_month =#{waterUseData.useMonth}
      AND water_meter_code=#{waterUseData.waterMeterCode}
    </if>
  </insert>
  <insert id="insertOrUpdateToMonthData" parameterType="int" >
    MERGE INTO t_w_water_month_use_data w USING (
      SELECT
        MAX (use_year) AS useYear,
        MAX (caliber) AS caliber,
        MAX (use_water_unit_id) AS useWaterUnitId,
        MAX (water_use_kinds) AS waterUseKinds,
        MAX (sector) AS sector,
        MAX (water_meter_code) AS waterMeterCode,
        id,
        MAX (price) AS price,
        isnull(SUM([1]), 0) AS januaryCount,
        isnull(SUM([2]), 0) AS februaryCount,
        isnull(SUM([3]), 0) AS marchCount,
        isnull(SUM([4]), 0) AS aprilCount,
        isnull(SUM([5]), 0) AS mayCount,
        isnull(SUM([6]), 0) AS juneCount,
        isnull(SUM([7]), 0) AS julyCount,
        isnull(SUM([8]), 0) AS augustCount,
        isnull(SUM([9]), 0) AS septemberCount,
        isnull(SUM([10]), 0) AS octoberCount,
        isnull(SUM([11]), 0) AS novemberCount,
        isnull(SUM([12]), 0) AS decemberCount,
        MAX (unit_name) AS unitName,
        MAX (unit_address) AS unitAddresss,
        MAX(node_code) AS nodeCode
      FROM
        (
          SELECT
            id = (
              CAST (use_year AS VARCHAR(5)) + water_meter_code
            ),
            water_use_kinds,
            use_year,
            water_number,
            use_month,
            caliber,
            price,
            use_water_unit_id,
            sector,
            water_meter_code,
            unit_name,
            unit_address,
            node_code
          FROM
            t_w_water_use_data
          WHERE
            use_year = #{year}
          AND use_month IN (1,2,3,4,5,6,7,8,9,10,11,12)
        ) t1 PIVOT (
          MAX (water_number) FOR use_month IN (
            [1],
            [2],
            [3],
            [4],
            [5],
            [6],
            [7],
            [8],
            [9],
            [10],
            [11],
            [12]
          )
        ) pvt
      GROUP BY
        id
    ) t2 ON w.id = t2.id
    WHEN matched THEN
      UPDATE
    SET w.now_price = t2.price,
     w.is_warning = 0,
    w.january_count=t2.januaryCount,
    w.february_count=t2.februaryCount,
    w.march_count=t2.marchCount,
    w.april_count=t2.aprilCount,
    w.may_count=t2.mayCount,
    w.june_count=t2.juneCount,
    w.july_count=t2.julyCount,
    w.august_count=t2.augustCount,
    w.september_count=t2.septemberCount,
    w.october_count=t2.octoberCount,
    w.november_count=t2.novemberCount,
    w.december_count=t2.decemberCount,
    w.node_code =t2.nodeCode
    WHEN NOT matched THEN
      INSERT (
        is_warning,
        id,
        use_year,
        caliber,
        use_water_unit_id,
        sector,
        water_meter_code,
        january_count,
        february_count,
        march_count,
        april_count,
        may_count,
        june_count,
        july_count,
        august_count,
        september_count,
        october_count,
        november_count,
        december_count,
        now_price,
        water_use_kinds,
        unit_names,
        unit_address,
        node_code
      )
    VALUES
      (
        0,
        t2.id,
        t2.useYear,
        t2.caliber,
        t2.useWaterUnitId,
        t2.sector,
        t2.waterMeterCode,
        t2.januaryCount,
        t2.februaryCount,
        t2.marchCount,
        t2.aprilCount,
        t2.mayCount,
        t2.juneCount,
        t2.julyCount,
        t2.augustCount,
        t2.septemberCount,
        t2.octoberCount,
        t2.novemberCount,
        t2.decemberCount,
        t2.price,
        t2.waterUseKinds,
        t2.unitName,
        t2.unitAddresss,
        t2.nodeCode
      ) ;
  </insert>
</mapper>