<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterBiz.WaterMonthUseDataMapper">

  <resultMap id="WaterMonthUseDataModel" type="com.zjtc.model.WaterMonthUseData">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="use_year" property="useYear" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="january_count" property="januaryCount" jdbcType="DOUBLE"/>
    <result column="february_count" property="februaryCount" jdbcType="DOUBLE"/>
    <result column="march_count" property="marchCount" jdbcType="DOUBLE"/>
    <result column="may_count" property="mayCount" jdbcType="DOUBLE"/>
    <result column="june_count" property="juneCount" jdbcType="DOUBLE"/>
    <result column="july_count" property="julyCount" jdbcType="DOUBLE"/>
    <result column="august_count" property="augustCount" jdbcType="DOUBLE"/>
    <result column="september_count" property="septemberCount" jdbcType="DOUBLE"/>
    <result column="october_count" property="octoberCount" jdbcType="DOUBLE"/>
    <result column="november_count" property="novemberCount" jdbcType="DOUBLE"/>
    <result column="december_count" property="decemberCount" jdbcType="DOUBLE"/>
    <result column="now_price" property="nowPrice" jdbcType="DOUBLE"/>
    <result column="is_warning" property="isWarning" jdbcType="INTEGER"/>
    <result column="caliber" property="caliber" jdbcType="DOUBLE"/>
    <result column="sector" property="sector" jdbcType="VARCHAR"/>
    <result column="water_use_kinds" property="waterUseKinds" jdbcType="VARCHAR"/>
    <result column="unit_names" property="unitNames" jdbcType="VARCHAR"/>
    <result column="unit_address" property="unitAddress" jdbcType="VARCHAR"/>
    <result column="waterNumber" property="waterNumber" jdbcType="DOUBLE"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectWaterMonthUseData" resultMap="WaterMonthUseDataModel">
    SELECT
    id,
    use_water_unit_id,
    use_year,
    water_meter_code,
    january_count,
    february_count,
    march_count,
    april_count,
    may_count,
    june_count,
    july_count,
    august_count,
    september_count,
    october_count,
    november_count,
    december_count,
    now_price,
    node_code,
    is_warning,
    caliber,
    sector,
    water_use_kinds,
    unit_names,
    unit_addresss,
    ( january_count + february_count + march_count + april_count + may_count + june_count +
    july_count + august_count + september_count + october_count + october_count + november_count +
    december_count ) AS waterNumber
    FROM
    t_w_water_month_use_data
    WHERE
    node_code = #{nodeCode}
    <if test="useWaterUnitId != null and useWaterUnitId != ''">
      AND use_water_unit_id = #{useWaterUnitId}
    </if>
    AND use_year = DateName(YEAR,GetDate())
    ORDER BY
    waterNumber DESC;
  </select>


  <select id="selectWaterMonthUseDataId" resultMap="WaterMonthUseDataModel">
    select
    id,
    use_water_unit_id,
    use_year,
    water_meter_code,
    january_count,
    february_count,
    march_count,
    april_count,
    may_count,
    june_count,
    july_count,
    august_count,
    september_count,
    october_count,
    november_count,
    december_count,
    now_price,
    node_code,
    is_warning,
    caliber,
    sector,
    water_use_kinds,
    unit_names,
    unit_address
    from t_w_water_month_use_data where use_water_unit_id = #{id}
  </select>

  <update id="updateWaterMonthUseData">
    update t_w_water_month_use_data set use_water_unit_id = null
    WHERE id IN
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <select id="queryPage" resultMap="WaterMonthUseDataModel">
    SELECT
    top ${size}
    *
    FROM
    (
    select
    row_number ( ) over ( ORDER BY use_year desc
    <if test="unitCodeRank">
      ,unit_code ${unitCodeRank}
    </if>
    <if test="unitNameRank">
      ,unit_name ${unitNameRank}
    </if>
    ) AS rownumber,
    *
    from
    (
    SELECT
    a.*,
    b.unit_code,
    ( a.january_count + a.february_count + a.march_count + a.april_count
    + a.may_count + a.june_count + a.july_count + a.august_count + a.september_count
    + a.october_count + a.october_count + a.november_count + a.december_count ) AS waterNumber
    FROM
    t_w_water_month_use_data as a
    left join (select id,unit_code  from t_w_use_water_unit) as b on a.use_water_unit_id=b.id
    WHERE
    a.node_code=#{nodeCode}
    )t1
    where 1=1
    <!--单位编号-->
    <if test="null !=unitCode">
      and unit_code like '%${unitCode}%'
    </if>
    <!--单位名称-->
    <if test="null !=unitName">
      and unit_names like '%${unitName}%'
    </if>
    <!--水表档案号-->
    <if test=" null !=waterMeterCode">
      and water_meter_code like '%${waterMeterCode}%'
    </if>
    <!--水量开始-->
    <if test=" null !=waterNumberStart">
      and waterNumber &gt;= #{waterNumberStart}
    </if>
    <!--水量结束-->
    <if test=" null !=waterNumberEnd">
      and waterNumber &lt;= #{waterNumberEnd}
    </if>
    <!--水价开始-->
    <if test=" null !=nowPriceStart">
      and now_price &gt;= #{nowPriceStart}
    </if>
    <!--水价结束-->
    <if test=" null !=nowPriceEnd">
      and now_price &lt;= #{nowPriceEnd}
    </if>
    <!--口径开始-->
    <if test=" null !=caliberStart">
      and caliber &gt;= #{caliberStart}
    </if>
    <!--口径结束-->
    <if test=" null !=caliberEnd">
      and caliber &lt;= #{caliberEnd}
    </if>
    <!--区段开始-->
    <if test=" null !=sectorStart">
      and sector &gt;= #{sectorStart}
    </if>
    <!--区段结束-->
    <if test=" null !=sectorEnd">
      and sector &lt;= #{sectorEnd}
    </if>
    <!--年份-->
    <if test=" null !=useYear">
      and use_year = #{useYear}
    </if>
    ) temp_row
    WHERE
    rownumber > ( ( #{current}- 1 ) * #{size} );
  </select>


  <select id="queryListTotal" resultType="java.lang.Long">
    select
    count(*)
    from
    (
    SELECT
    a.*,
    b.unit_code,
    ( a.january_count + a.february_count + a.march_count + a.april_count
    + a.may_count + a.june_count + a.july_count + a.august_count + a.september_count
    + a.october_count + a.october_count + a.november_count + a.december_count ) AS waterNumber
    FROM
    t_w_water_month_use_data as a
    left join t_w_use_water_unit as b on a.use_water_unit_id=b.id
    WHERE
    a.node_code=#{nodeCode}
    ) t1
    where 1=1
    <!--单位编号-->
    <if test="null !=unitCode">
      and unit_code like '%${unitCode}%'
    </if>
    <!--单位名称-->
    <if test="null !=unitName">
      and unit_names like '%${unitName}%'
    </if>
    <!--水表档案号-->
    <if test=" null !=waterMeterCode">
      and water_meter_code like '%${waterMeterCode}%'
    </if>
    <!--水量开始-->
    <if test=" null !=waterNumberStart">
      and waterNumber &gt;= #{waterNumberStart}
    </if>
    <!--水量结束-->
    <if test=" null !=waterNumberEnd">
      and waterNumber &lt;= #{waterNumberEnd}
    </if>
    <!--水价开始-->
    <if test=" null !=nowPriceStart">
      and now_price &gt;= #{nowPriceStart}
    </if>
    <!--水价结束-->
    <if test=" null !=nowPriceEnd">
      and now_price &lt;= #{nowPriceEnd}
    </if>
    <!--口径开始-->
    <if test=" null !=caliberStart">
      and caliber &gt;= #{caliberStart}
    </if>
    <!--口径结束-->
    <if test=" null !=caliberEnd">
      and caliber &lt;= #{caliberEnd}
    </if>
    <!--区段开始-->
    <if test=" null !=sectorStart">
      and sector &gt;= #{sectorStart}
    </if>
    <!--区段结束-->
    <if test=" null !=sectorEnd">
      and sector &lt;= #{sectorEnd}
    </if>
    <!--年份-->
    <if test=" null !=useYear">
      and use_year = #{useYear}
    </if>
    ;

  </select>

  <select id="export" resultMap="WaterMonthUseDataModel">

    select
    *
    from
    (
    SELECT
    a.*,
    b.unit_code,
    ( a.january_count + a.february_count + a.march_count + a.april_count
    + a.may_count + a.june_count + a.july_count + a.august_count + a.september_count
    + a.october_count + a.october_count + a.november_count + a.december_count ) AS waterNumber
    FROM
    t_w_water_month_use_data as a
    left join t_w_use_water_unit as b on a.use_water_unit_id=b.id
    WHERE
    a.node_code=#{nodeCode}
    )t1
    where 1=1
    <!--单位编号-->
    <if test="null !=unitCode">
      and unit_code like '%${unitCode}%'
    </if>
    <!--单位名称-->
    <if test="null !=unitName">
      and unit_names like '%${unitName}%'
    </if>
    <!--水表档案号-->
    <if test=" null !=waterMeterCode">
      and water_meter_code like '%${waterMeterCode}%'
    </if>
    <!--水量开始-->
    <if test=" null !=waterNumberStart">
      and waterNumber &gt;= #{waterNumberStart}
    </if>
    <!--水量结束-->
    <if test=" null !=waterNumberEnd">
      and waterNumber &lt;= #{waterNumberEnd}
    </if>
    <!--水价开始-->
    <if test=" null !=nowPriceStart">
      and now_price &gt;= #{nowPriceStart}
    </if>
    <!--水价结束-->
    <if test=" null !=nowPriceEnd">
      and now_price &lt;= #{nowPriceEnd}
    </if>
    <!--口径开始-->
    <if test=" null !=caliberStart">
      and caliber &gt;= #{caliberStart}
    </if>
    <!--口径结束-->
    <if test=" null !=caliberEnd">
      and caliber &lt;= #{caliberEnd}
    </if>
    <!--区段开始-->
    <if test=" null !=sectorStart">
      and sector &gt;= #{sectorStart}
    </if>
    <!--区段结束-->
    <if test=" null !=sectorEnd">
      and sector &lt;= #{sectorEnd}
    </if>
    <!--年份-->
    <if test=" null !=useYear">
      and use_year = #{useYear}
    </if>
  </select>

  <update id="updateUnitBatch">
    <foreach collection="list" index="index" item="item" open="" separator=";" close="">
      update t_w_water_month_use_data
      <set>
        use_water_unit_id=#{item.useWaterUnitId}
      </set>
      WHERE id=#{item.id}
    </foreach>
  </update>

  <select id="selectWaterUseData" resultMap="WaterMonthUseDataModel">
    SELECT TOP 1
    id,
    use_water_unit_id,
    use_year,
    water_meter_code,
    january_count,
    february_count,
    march_count,
    april_count,
    may_count,
    june_count,
    july_count,
    august_count,
    september_count,
    october_count,
    november_count,
    december_count,
    now_price,
    node_code,
    is_warning,
    caliber,
    sector,
    water_use_kinds,
    unit_names,
    unit_address,
    (
    SELECT SUM
    ( january_count + february_count + march_count + april_count + may_count + june_count +
    july_count + august_count + september_count + october_count + november_count + december_count )
    FROM
    t_w_water_month_use_data t2
    WHERE 1 = 1
    <if test="waterMeterCode != null and waterMeterCode != ''">
      and t2.water_meter_code = #{waterMeterCode}
    </if>
    AND t1.id = t2.id
    ) AS waterNumber
    FROM
    t_w_water_month_use_data t1
    WHERE 1 = 1
    <if test="waterMeterCode != null and waterMeterCode != ''">
      and water_meter_code = #{waterMeterCode}
    </if>
    ORDER BY use_year desc
  </select>
</mapper>