<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.DictMapper">
  <!--数据字典-->
  <resultMap id="dict_result" type="com.zjtc.model.Dict">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="dict_name" property="dictName" jdbcType="VARCHAR"/>
    <result column="dict_code" property="dictCode" jdbcType="VARCHAR"/>
    <result column="dict_rank" property="dictRank" jdbcType="INTEGER"/>
    <result column="dict_desc" property="dictDesc" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryPage" resultType="java.util.LinkedHashMap">
    SELECT
    top 10
    id,
    dict_name as dictName,
    dict_code as dictCode,
    dict_rank as dictRank,
    dict_desc as dictDesc,
    deleted,
    create_time as createTime
    from t_dict
  </select>


  <select id="queryListTotal" resultType="java.lang.Long">
    SELECT
    count(*)
    FROM
    (
    SELECT
    *
    FROM
    t_dict
    WHERE
    deleted = '0'
    and node_code=#{nodeCode}
    <if test="null !=dictCode">
      AND dict_code LIKE '%${dictCode}%'
    </if>
    <if test=" null !=dictName">
      AND dict_name LIKE '%${dictName}%'
    </if>

    UNION
    SELECT
    *
    FROM
    t_dict
    WHERE
    deleted = '0'
    and node_code=#{nodeCode}
    AND id IN ( SELECT dict_id  as id FROM t_dict_item WHERE deleted = '0'
    <if test="null !=dictCode">
      AND dict_item_code LIKE '%${dictCode}%'
    </if>
    <if test=" null !=dictName">
      AND dict_item_name LIKE '%${dictName}%'
    </if>
    )
    ) as a

  </select>


  <update id="updateBatch">
    <foreach collection="idList" index="index" item="id" open="" separator=";" close="">
      update t_dict
      <set>
        deleted ='1'
      </set>
      WHERE id=#{id}
    </foreach>
  </update>


</mapper>