<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.DictItemMapper">

  <!--数据字典项-->
  <resultMap id="dictItem_result" type="com.zjtc.model.DictItem">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="dict_id" property="dictId" jdbcType="VARCHAR"/>
    <result column="dict_item_name" property="dictItemName" jdbcType="VARCHAR"/>
    <result column="dict_item_code" property="dictItemCode" jdbcType="VARCHAR"/>
    <result column="dict_item_desc" property="dictItemDesc" jdbcType="VARCHAR"/>
    <result column="dict_item_rank" property="dictItemRank" jdbcType="INTEGER"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
  </resultMap>

  <update id="updateByDictId">
    <foreach collection="dictIdList" index="index" item="id" open="" separator=";" close="">
      update t_dict_item
      <set>
        deleted='1'
      </set>
      WHERE dict_id=#{id}
    </foreach>
  </update>

  <select id="getDictItem" resultMap="dictItem_result">
    SELECT
    dt.id,
    dt.dict_id,
    dt.dict_item_name,
    dt.dict_item_code,
    dt.dict_item_desc,
    dt.dict_item_rank,
    dt.deleted,
    dt.create_time,
    dt.node_code
    FROM
    t_dict_item dt,
    t_dict d
    WHERE
    d.id = dt.dict_id
    and dt.node_code=#{nodeCode}
    and d.node_code=#{nodeCode}
    <if test="dictCode !=null">
      AND d.dict_code = #{dictCode}
    </if>
    ORDER BY
    dt.dict_item_rank ASC;
  </select>

  <select id="findByDictCode" resultMap="dictItem_result">
            SELECT
              dt.id,
              dt.dict_id,
              dt.dict_item_name,
              dt.dict_item_code,
              dt.dict_item_desc,
              dt.dict_item_rank,
              dt.deleted,
              dt.create_time,
              dt.node_code
            FROM
              t_dict_item dt,
              t_dict d
            WHERE
              d.id = dt.dict_id
              AND d.dict_code= #{dictCode}
              AND dt.dict_item_code = #{dictItemCode}
              and dt.node_code=#{nodeCode}
              and d.node_code=#{nodeCode}
            ORDER BY
              dt.dict_item_rank ASC
    </select>

  <select id="findByDictName" resultMap="dictItem_result">
            SELECT
              dt.id,
              dt.dict_id,
              dt.dict_item_name,
              dt.dict_item_code,
              dt.dict_item_desc,
              dt.dict_item_rank,
              dt.deleted,
              dt.create_time,
              dt.node_code
            FROM
              t_dict_item dt,
              t_dict d
            WHERE
              d.id = dt.dict_id
              AND d.dict_code= #{dictCode}
              AND dt.dict_item_name = #{dictItemName}
              and d.node_code=#{nodeCode}
            ORDER BY
              dt.dict_item_rank ASC
    </select>

  <select id="queryPage" resultType="java.util.LinkedHashMap">
    SELECT
    top ${size}
    id,
    dict_id as dictId,
    dict_item_name as dictItemName,
    dict_item_code as dictItemCode,
    dict_item_desc as dictItemDesc,
    dict_item_rank as dictItemRank,
    deleted as deleted,
    create_time as createTime,
    node_code as nodeCode
    FROM
    (
    SELECT
    row_number ( ) over ( ORDER BY a.dict_item_rank asc ) AS rownumber,a.*
    FROM
    t_dict_item as a
    WHERE deleted='0'
      AND dict_id =#{id}
    ) temp_row
    WHERE
    rownumber > ( ( #{current}- 1 ) * #{size} );
  </select>


  <select id="queryListTotal" resultType="java.lang.Long">
    SELECT
    count(*)
    FROM
    t_dict_item as a
    WHERE deleted='0'
    AND dict_id =#{id}
    and node_code=#{nodeCode}
  </select>
</mapper>