<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.DictItemMapper">

  <!--数据字典项-->
  <resultMap id="dictItem_result" type="com.zjtc.model.DictItem">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="dict_id" property="dictId" jdbcType="VARCHAR"/>
    <result column="dict_item_name" property="dictItemName" jdbcType="VARCHAR"/>
    <result column="dict_item_code" property="dictItemCode" jdbcType="VARCHAR"/>
    <result column="dict_item_desc" property="dictItemDesc" jdbcType="VARCHAR"/>
    <result column="dict_item_rank" property="dictItemRank" jdbcType="INTEGER"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
  </resultMap>

  
</mapper>