<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.FlowProcessMapper">
  <!--数据字典-->

  <select id="queryAuditList" resultType="java.util.LinkedHashMap">
    SELECT
    t1.id AS id,
    t1.operation_time AS operationTime,
    t1.audit_status AS auditStatus,
    CASE  t1.audit_status WHEN '0' THEN  '发起' WHEN '1' THEN  '待审核' WHEN '2' THEN  '审核通过' WHEN '3' THEN '审核不通过' END auditStatusName,
    t1.operator AS operator, t1.operator_id AS operatorId,  t3.org_name AS orgName,
    audit_content as auditContent
    FROM
    (
    SELECT id,operator_id, node_code, audit_status, operator ,operation_time,create_time,audit_content
    FROM t_sms_flow_process WHERE business_id = #{id} and node_code=#{nodeCode}) AS t1
    LEFT JOIN ( SELECT id, org_id FROM t_user  where node_code=#{nodeCode}) t2 ON t1.operator_id = t2.id
    LEFT JOIN ( SELECT id, org_name FROM t_org  where  node_code=#{nodeCode}) t3 ON t2.org_id = t3.id
    order by t1.create_time ASC
  </select>
  <select id="ifNeedAudit" resultType="int">
    SELECT COUNT(id) FROM t_sms_flow_process WHERE business_id =#{businessId} AND operator_id = #{userId} AND audit_status='1'
  </select>

</mapper>