<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.FlowNodeInfoMapper">

  <select id="firStAuditRole" resultType="java.util.LinkedHashMap">
      SELECT
				t1.id as flowNodeId,
        t4.user_id as userId,
        t4.user_name as userName,
        t3.org_name AS orgName
      FROM
        (
      SELECT
        top 1
				id,
				flow_node_role_id
      FROM
        t_flow_node
      WHERE
        flow_id = ( SELECT id FROM t_flow WHERE node_code = #{nodeCode} AND flow_code =#{flowCode} )
      AND node_code =#{nodeCode}
      ORDER BY
        flow_sort ASC
        ) t1
				inner join (select user_id ,user_name,role_id,rank from  t_user_role_ref ) t4 on t4.role_id=t1.flow_node_role_id
        inner JOIN ( SELECT id, org_id FROM t_user  where node_code=#{nodeCode}) t2 ON t4.user_id = t2.id
        inner JOIN ( SELECT id, org_name FROM t_org  where node_code=#{nodeCode}) t3 ON t2.org_id = t3.id
        ORDER BY
        t4.rank ASC
  </select>

  <select id="nextAuditRole" resultType="java.util.LinkedHashMap">
       SELECT
          t1.id as flowNodeId,
          t4.user_id as userId,
          t4.user_name as userName,
          t3.org_name AS orgName
        FROM
          (
            select
            id,
            flow_node_role_id
            from t_flow_node_info
            where id in
            (
              select
              next_node_id as id
              from
              t_flow_node_line_info
                where operate_type=#{auditBtn}
				        and flow_node_id=#{nextNodeId}
		   )
		   and business_id =#{id}
          ) t1
         left join (select user_id ,user_name,role_id,rank from  t_user_role_ref ) t4 on t4.role_id=t1.flow_node_role_id
         left JOIN ( SELECT id, org_id FROM t_user  where node_code=#{nodeCode}) t2 ON t4.user_id = t2.id
         left JOIN ( SELECT id, org_name FROM t_org  where node_code=#{nodeCode}) t3 ON t2.org_id = t3.id
        ORDER BY
          t4.rank ASC
  </select>

  <select id="secondAuditRole" resultType="java.util.LinkedHashMap">
    SELECT
				t1.id as flowNodeId,
        t4.user_id as userId,
        t4.user_name as userName,
        t3.org_name AS orgName
      FROM
        (
         select
         *
         from
         (
            select row_number() over(ORDER BY flow_sort ASC) rn,
            id,
            flow_node_role_id
          FROM
            t_flow_node
          WHERE
            flow_id = ( SELECT id FROM t_flow WHERE node_code = #{nodeCode} AND flow_code =#{flowCode} )
          AND node_code =#{nodeCode}
         ) t where rn=2
        ) t1
				inner join (select user_id ,user_name,role_id,rank from  t_user_role_ref ) t4 on t4.role_id=t1.flow_node_role_id
        inner JOIN ( SELECT id, org_id FROM t_user  where node_code=#{nodeCode}) t2 ON t4.user_id = t2.id
        inner JOIN ( SELECT id, org_name FROM t_org  where node_code=#{nodeCode}) t3 ON t2.org_id = t3.id
        ORDER BY
        t4.rank ASC
  </select>

</mapper>