<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.waterSys.PersonMapper">

  <resultMap id="personModel" type="com.zjtc.model.Person">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
    <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
    <result column="user_rank" property="userRank" jdbcType="INTEGER"/>
    <result column="login_id" property="loginId" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="VARCHAR"/>
    <result column="unpassword" property="unpassword" jdbcType="VARCHAR"/>
    <result column="office_tel" property="officeTel" jdbcType="VARCHAR"/>
    <result column="office_address" property="officeAddress" jdbcType="VARCHAR"/>
    <result column="fax" property="fax" jdbcType="VARCHAR"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP"/>
    <result column="open_id" property="openId" jdbcType="VARCHAR"/>
    <result column="deleted" property="deleted" jdbcType="VARCHAR"/>
    <result column="locked" property="locked" jdbcType="VARCHAR"/>
    <result column="wrong_times" property="wrongTimes" jdbcType="INTEGER"/>
    <result column="roleName" property="roleName" jdbcType="VARCHAR"/>
    <result column="roleId" property="roleId" jdbcType="VARCHAR"/>
    <result column="need_edited" property="needEdited" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="queryAll" resultMap="personModel">
    SELECT id,user_name from t_user;
  </select>

  <select id="selectPersonAll" resultMap="personModel">
    SELECT
    id,
    node_code,
    org_id,
    user_name,
    mobile_phone,
    user_rank,
    login_id,
    password,
    unpassword,
    office_tel,
    office_address,
    fax,
    email,
    create_time,
    edit_time,
    open_id,
    locked,
    wrong_times,
    need_edited

    FROM
    t_user
    WHERE
    id IN (
    SELECT
    person_id
    FROM
    t_w_use_water_unit_role
    WHERE
    unit_type_code = ( SELECT unit_type_code FROM t_w_use_water_unit_role WHERE person_id = #{personId} ))
    and deleted = '0'
  </select>

  <select id="selectByUserId" resultType="string">
    SELECT mobile_phone
    FROM t_user
    WHERE id=#{operatorId}
  </select>
</mapper>