<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.EndPaperMapper">
	<!-- EndPaper的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="BaseResultMap" type="com.zjtc.model.EndPaper">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
		<result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
		<result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
		<result column="paper_type" property="paperType" jdbcType="VARCHAR"/>
		<result column="data_sources" property="dataSources" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="creater_id" property="createrId" jdbcType="VARCHAR"/>
		<result column="plan_year" property="planYear" jdbcType="INTEGER"/>
		<result column="change_quarter" property="changeQuarter" jdbcType="VARCHAR"/>
		<result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
		<result column="first_water" property="firstWater" jdbcType="DOUBLE"/>
		<result column="second_water" property="secondWater" jdbcType="DOUBLE"/>
		<result column="add_number" property="addNumber" jdbcType="DOUBLE"/>
		<result column="add_way" property="addWay" jdbcType="VARCHAR"/>
		<result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
		<result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
		<result column="create_type" property="createType" jdbcType="VARCHAR"/>
		<result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
		<result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
		<result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
		<result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
		<result column="confirmed" property="confirmed" jdbcType="VARCHAR"/>
		<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP"/>
		<result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
		<result column="executed" property="executed" jdbcType="VARCHAR"/>
		<result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
		<result column="executor" property="executor" jdbcType="VARCHAR"/>
		<result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
		<result column="audit_file_id" property="auditFileId" jdbcType="VARCHAR"/>
		<result column="water_proof_file_id" property="waterProofFileId" jdbcType="VARCHAR"/>
		<result column="other_file_id" property="otherFileId" jdbcType="VARCHAR"/>
		<result column="algorithm_rules" property="algorithmRules" jdbcType="VARCHAR"/>
		<result column="creater_name" property="createrName" jdbcType="VARCHAR"/>
		<result column="result" property="result" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="PageResultMap" type="com.zjtc.model.vo.EndPaperVO">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
		<result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
		<result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
		<result column="paper_type" property="paperType" jdbcType="VARCHAR"/>
		<result column="paper_type_name" property="paperTypeName" jdbcType="VARCHAR"/>
		<result column="data_sources" property="dataSources" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="creater_id" property="createrId" jdbcType="VARCHAR"/>
		<result column="creater_name" property="createrName" jdbcType="VARCHAR"/>
		<result column="plan_year" property="planYear" jdbcType="INTEGER"/>
		<result column="change_quarter" property="changeQuarter" jdbcType="VARCHAR"/>
		<result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
		<result column="first_water" property="firstWater" jdbcType="DOUBLE"/>
		<result column="second_water" property="secondWater" jdbcType="DOUBLE"/>
		<result column="add_number" property="addNumber" jdbcType="DOUBLE"/>
		<result column="add_way" property="addWay" jdbcType="VARCHAR"/>
		<result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
		<result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
		<result column="create_type" property="createType" jdbcType="VARCHAR"/>
		<result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
		<result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
		<result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
		<result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
		<!--<result column="confirmed" property="confirmed" jdbcType="VARCHAR"/>-->
		<!--<result column="confirm_time" property="confirmTime" jdbcType="TIMESTAMP"/>-->
		<result column="audit_status" property="auditStatus" jdbcType="VARCHAR"/>
		<result column="executed" property="executed" jdbcType="VARCHAR"/>
		<result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
		<result column="executor" property="executor" jdbcType="VARCHAR"/>
		<result column="executor_id" property="executorId" jdbcType="VARCHAR"/>
		<result column="algorithm_rules" property="algorithmRules" jdbcType="VARCHAR"/>
		<result column="result" property="result" jdbcType="VARCHAR"/>
		<collection property="auditFiles" ofType="java.util.LinkedHashMap" column="id"
		select="queryAuditFiles">
		</collection>
		<collection property="waterProofFiles" ofType="java.util.LinkedHashMap" column="id"
		select="queryWaterProofFiles">
		</collection>
		<collection property="otherFiles" ofType="java.util.LinkedHashMap" column="id"
		select="queryOtherFiles">
		</collection>
	<!--<collection property="unpaidList" ofType="java.util.LinkedHashMap" column="id"-->
	<!--select="queryUnpaidList">-->
	<!--</collection>-->
		<!--<collection property="auditMessages" ofType="java.util.LinkedHashMap" column="id"-->
			<!--select="queryAuditMessages">-->
		<!--</collection>-->
	</resultMap>
	<select id="queryNum" resultType="int">
		SELECT COUNT (id)
		FROM t_w_end_paper
		WHERE id IN
		(SELECT id
		FROM t_w_end_paper
		WHERE node_code = #{nodeCode}
		AND SUBSTRING(unit_code,5,2)<!--类型-->
		IN (
		SELECT unit_type_code
		FROM t_w_use_water_unit_role
		WHERE person_id = #{userId}
		)
		<if test="unitCode != null and unitCode != ''">
			and unit_code like '%${unitCode}%'
		</if>
		<if test="unitName != null and unitName != ''">
			and unit_name like '%${unitName}%'
		</if>
		<if test="waterMeterCode != null and waterMeterCode != ''">
			and water_meter_code like '%${waterMeterCode}%'
		</if>
		<if test="applyTimeStart != null">
			and create_time &gt;= #{applyTimeStart}
		</if>
		<if test="applyTimeEnd != null">
			and create_time &lt;= #{applyTimeEnd}
		</if>
		)
	</select>

	<select id="queryPage" resultMap="PageResultMap">
		SELECT TOP  ${size} t1.id,t1.node_code,t1.use_water_unit_id,t1.unit_code,t1.unit_name,
		t1.water_meter_code,t1.paper_type,<!--申报(调整)类型code-->
		(SELECT dict_item_name
		  FROM t_dict_item
		  WHERE dict_id =(SELECT id FROM t_dict WHERE dict_code = 'changeType')
		  AND  dict_item_code = t1.paper_type
		)AS paper_type_name,<!--申报(调整)类型名称-->
		CASE t1.data_sources WHEN '1' THEN '网上申报' WHEN '2' THEN '现场申报' END AS data_sources,
		t1.create_time,t1.creater_id,t1.creater_name,t1.plan_year,t1.change_quarter,t1.cur_year_plan,
	  t1.first_water,t1.second_water,t1.add_number,t1.add_way,t1.minus_pay_status,t1.balance_test,
		t1.create_type,t1.first_quarter,t1.second_quarter,t1.third_quarter,t1.fourth_quarter,
-- 		CASE t1.confirmed WHEN '0' THEN '否' WHEN '1' THEN '是' END AS confirmed,
-- 		confirm_time,
		CASE t1.audit_status WHEN '0' THEN '否' WHEN '1' THEN '是' END AS audit_status,
		CASE t1.executed WHEN '0' THEN '否' WHEN '1' THEN '是' END AS audit_status,
		t1.execute_time,t1.executor,t1.executor_id,t1.algorithm_rules,t1.result
		FROM(SELECT row_number () OVER ( ORDER BY [unit_code] ASC ,[id]) AS rownumber,*
		FROM
		t_w_end_paper
		WHERE id IN
		(SELECT id
		FROM t_w_end_paper
		WHERE  node_code = #{nodeCode}
		AND SUBSTRING(unit_code,5,2) <!--类型-->
		IN (
		SELECT unit_type_code
		FROM t_w_use_water_unit_role
		WHERE person_id = #{userId}
		)
		<if test="unitCode != null and unitCode != ''">
			and unit_code like '%${unitCode}%'
		</if>
		<if test="unitName != null and unitName != ''">
			and unit_name like '%${unitName}%'
		</if>
		<if test="waterMeterCode != null and waterMeterCode != ''">
			and water_meter_code like '%${waterMeterCode}%'
		</if>
		<if test="applyTimeStart != null">
			and create_time &gt;= #{applyTimeStart}
		</if>
		<if test="applyTimeEnd != null">
			and create_time &lt;= #{applyTimeEnd}
		</if>
		)
		)t1
		WHERE  rownumber > (#{current}-1)* #{size}
	</select>

	<select id="queryAuditFiles" resultType="java.util.LinkedHashMap">
		SELECT id AS id, file_name AS fileName,file_path AS filePath
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.audit_file_id,number,CHARINDEX(',',a.audit_file_id+',',number)-number) as audit_file_id
		from (SELECT audit_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.audit_file_id)
		and type='p'
		and SUBSTRING(','+a.audit_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
	<select id="queryWaterProofFiles" resultType="java.util.LinkedHashMap">
		SELECT id AS id, file_name AS fileName,file_path AS filePath
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.water_proof_file_id,number,CHARINDEX(',',a.water_proof_file_id+',',number)-number) as water_proof_file_id
		from (SELECT water_proof_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.water_proof_file_id)
		and type='p'
		and SUBSTRING(','+a.water_proof_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
	<select id="queryOtherFiles" resultType="java.util.LinkedHashMap">
		SELECT id AS id, file_name AS fileName,file_path AS filePath
		FROM t_file
		WHERE deleted ='0'
		AND id
		IN (
		SELECT  SUBSTRING(a.other_file_id,number,CHARINDEX(',',a.other_file_id+',',number)-number) as other_file_id
		from (SELECT other_file_id
		FROM t_w_end_paper
		WHERE id = #{id} ) a,master..spt_values
		where number >= 1 and number  &lt; len(a.other_file_id)
		and type='p'
		and SUBSTRING(','+a.other_file_id,number,1)=','
		) <!--将逗号隔开的字符串拆分为行-->
	</select>
</mapper>