<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.UseWaterPlanMapper">
  <!-- TWUseWaterPlan的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
  <resultMap id="BaseResultMap" type="com.zjtc.model.UseWaterPlan">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="node_code" property="nodeCode" jdbcType="VARCHAR"/>
    <result column="use_water_unit_id" property="useWaterUnitId" jdbcType="VARCHAR"/>
    <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR"/>
    <result column="algorithm_type" property="algorithmType" jdbcType="VARCHAR"/>
    <result column="water_meter_code" property="waterMeterCode" jdbcType="VARCHAR"/>
    <result column="plan_year" property="planYear" jdbcType="INTEGER"/>
    <result column="base_water_amount" property="baseWaterAmount" jdbcType="DOUBLE"/>
    <result column="before_last_year_water_amount" property="beforeLastYearWaterAmount"
      jdbcType="DOUBLE"/>
    <result column="last_year_water_amount" property="lastYearWaterAmount" jdbcType="DOUBLE"/>
    <result column="three_year_avg" property="threeYearAvg" jdbcType="DOUBLE"/>
    <result column="now_price" property="nowPrice" jdbcType="DOUBLE"/>
    <result column="n8" property="n8" jdbcType="INTEGER"/>
    <result column="minus_pay_status" property="minusPayStatus" jdbcType="VARCHAR"/>
    <result column="balance_test" property="balanceTest" jdbcType="VARCHAR"/>
    <result column="create_type" property="createType" jdbcType="VARCHAR"/>
    <result column="cur_year_base_plan" property="curYearBasePlan" jdbcType="DOUBLE"/>
    <result column="cur_year_plan" property="curYearPlan" jdbcType="DOUBLE"/>
    <result column="next_year_start_plan" property="nextYearStartPlan" jdbcType="DOUBLE"/>
    <result column="next_year_end_plan" property="nextYearEndPlan" jdbcType="DOUBLE"/>
    <result column="first_quarter" property="firstQuarter" jdbcType="DOUBLE"/>
    <result column="second_quarter" property="secondQuarter" jdbcType="DOUBLE"/>
    <result column="third_quarter" property="thirdQuarter" jdbcType="DOUBLE"/>
    <result column="fourth_quarter" property="fourthQuarter" jdbcType="DOUBLE"/>
    <result column="plan_type" property="planType" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
    <result column="added" property="added" jdbcType="VARCHAR"/>
    <result column="reduce_plan" property="reducePlan" jdbcType="DOUBLE"/>
    <result column="reward_plan" property="rewardPlan" jdbcType="DOUBLE"/>
    <result column="assess_quarter" property="assessQuarter" jdbcType="VARCHAR"/>
    <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
  </resultMap>


</mapper>