<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjtc.mapper.WaterSavingUnitBaseMapper">
	<!-- WaterSavingUnitBase的resultMap,column是给数据库列起的别名,它对应property类的属性 -->
	<resultMap id="result_WaterSavingUnitBase_Map" type="com.zjtc.model.WaterSavingUnitBase">
		<id column="id" property="id" />
		<result column="contents" property="contents" />
		<result column="assess_method" property="assessMethod" />
		<result column="assess_standard" property="assessStandard" />
		<result column="company_score" property="companyScore" />
		<result column="unit_score" property="unitScore" />
		<result column="check_score" property="checkScore" />
		<result column="actual_score" property="actualScore" />
	</resultMap>


</mapper>